.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  text-align: center;
  background-color:#0a0a23;
  color: #fff;
  margin-left: 5%;
  border-radius: 5px;
}
.button:hover {
  background-color:#8f8fd3;
  color: #fff;
  margin-left: 5%;
  
}
.textBox{
  text-align: center;
  margin: 2px 1px;
  padding: 5px 5px;
  background-color:#dddddd;
  width: 150px;
  border-radius: 15px;
  display:inline-block;
}
.inputBox {
  text-align: center;
  margin-left: 5%;
  padding: 10; 
  border-color: #453a97;
  border-radius: 5px;
  border-width: 5px;
}

p.link {
  color: gray;
}

h1.fifth {
  background-color: #4b59a7;
  color:#fff;
  padding: 10px;
  font-weight: 400;
  text-shadow: 
    2px 2px 0
    rgb(0, 0, 0);
  transition: all 0.2s ease;
} 

#nav2>ul {
  float: right;
}
#nav2>ul li {
  float: right;
  padding: 0 30px;
  margin-top: 5%;
  display: block; /* a태그는 글자성격 = inline */
  font-size: 15px;
  font-weight: 900;
  color: #dbdbdb;
}
#wordTable>ul {
  float: right;
}
#wordTable>ul li{
  float: right;
}
.wordTable{
  background-color: #e1e1e1;
  border-radius: 5px;
  
}

.container{
  border: 2px solid;
}